/*
author: Dipen Patel;
filename: styles.css;
Date: September 24,2018;
*/

header{
    background-image: url(http://picsum.photos/g/2000/400?image=288);
    background-size: cover;
    padding: 1.25rem;
    min-height: 16.5rem;
    
}

h1{  
    font-size: 4rem;
    font-color:hsla(261,100%,50%,1);
    padding: 25px 50px 75px 100px;
}

h2{
    font-size: 2rem;
    font-color:hsla(351,100%,64%,1);
    padding: 10px 40px 56px 100px;
}